.left-chat-group {
  display: flex;
  width: 25%;
  background-color: #f4f4f4;
  min-width: 300px;
}

.left-chat-group img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.left-chat-group .sections {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.left-chat-group .sections .section {
  width: 54px;
  height: 50px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-chat-group .chat-section {
  margin-top: 7px;
}

.left-chat-group .sections .you-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  margin-bottom: 7px;
  width: 54px;
  height: 50px;
}

.left-chat-group .sections .you-section img {
  border: solid 1px rgba(63, 62, 62, 0.718);
  width: 45px;
  height: 45px;
}

.left-chat-group .sections .you-section span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 10px;
  top: 0px;
  background-color: rgb(119, 215, 119);
}

.left-chat-group .sections .icon {
  cursor: pointer;
  color: #cacacac9;
  font-size: 1.4rem;
  transition: all 0.3s ease-in-out;
}

.left-chat-group .sections .section:hover {
  background-color: rgb(135, 134, 134);
  border-radius: 4px;
}

.left-chat-group .sections .icon:hover {
  color: rgb(17, 14, 14);
  transform: scale(0.98);
}

.left-chat-group .section-details {
  width: 100%;
}

/* .group-chat-details {
  width: 100%;
} */

.group-chat-details .my-groups {
  height: calc(100vh / 3 - 40px);
  width: 100%;
  overflow-y: auto;
  background-color: aliceblue;
}

.group-chat-details .favorite-groups {
  margin-top: 10px;
  width: 100%;
  height: calc(100vh / 3 - 40px);
  overflow-y: auto;
  background-color: aliceblue;
}

.left-chat-group .my-groups h5 {
  position: sticky;
  top: 0;
  background-color: rgb(97, 161, 216);
}

.left-chat-group .favorite-groups h5 {
  position: sticky;
  top: 0;
  background-color: rgb(97, 161, 216);
}

.left-chat-group .group {
  margin-top: 7px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-left: 6px;
}

.left-chat-group .group p {
  font-size: 0.7rem;
}
